body {
    background-color: #DEDEDE;
}

#app-content {

    margin-top : 20px;
}

.card:hover {

    background-color: #F8e60b;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-link {

    text-decoration: none; 
    color: #000;
}

.card-link:hover{
    
    color: greenyellow;
}
